<img src="https://www.previewsworld.com/SiteImage/MainImage/STL167573.jpg" width=300 height=300>


<div>Thomas Redding, Human Cleric, Level 1</div>

<h4>Quick Stats:</h4>
<table>
<tr>
<td>CON: 14</td>
<td>HP: <%=@HP%>/10</td>
</tr>

<tr>
<td>STR: 14</td>
<td>Armor Class: <%=@armor%></td>
</tr>

<tr>
<td>DEX: 10</td>
<td>Fort: +4 </td>
</tr>

<tr>
<td>WIS: 15</td>
<td>Ref: +0</td>
</tr>

<tr>
<td>INT: 8</td>
<td>Will: +4</td>
</tr>

<tr>
<td>CHA: 11</td>
<td>Attack Bonus: +1, Deals <%=@weapon%>+2</td>
</tr>

</table>

<div>
Equipment: Chainmail armor, one-handed mace, simple shield, two-handed sword, camping gear, torch.
</div>


<div>Currently Wielding: <%=@weilding%>
</div>

<div>
<a href="/change_equipment"> Equip <%=@unequipped%> </a>
</div>

<div>
<h4>Spells:</h4>
<table border=1>
<tr>
<td>Spell Name</td>
<td></td>
</tr>

<%@list_of_spells.each do |the_spell|%>

<tr>
<td><%=the_spell.spells%></td>
<td><a href="/delete_spell/<%=the_spell.id%>"> Cast </a> </td>
</tr>









<%end%>
</table>
</div>

<a href="/spells">Prepare New Spells</a>

<h4>HP Tracking:</h4>
<div>
<form action="/damage" method="post">

  <div>
    <label for="Damage"></label>
    <input id="Damage" name="Damage_taken" placeholder="Take how much damage?" type="integer">
  </div>

    <button>
   Take damage
  </button>
</div>

<div>
<form action="/heal" method="post">

  <div>
    <label for="Heal"></label>
    <input id="Heal" name="Healing" placeholder="Heal how much?" type="integer">
  </div>

    <button>
   Heal
  </button>
</form>
</div>







